.Button {
    background-color: transparent;
    /* background-color: #1a1a1a; */
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 15px;
    margin: 7px;
    font-weight: bold;
    align-items: center;
    border-radius: 5%;
    width: 150px
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #fffffa;
    cursor: not-allowed;
    background-color: #ccc
}

.Success {
    color: #85f5c2;
    background-color: rgba(0,0,0,0.8);
}

.Danger {
    color: #8f5c2c;
    /* background-color: #8f5c2c; */
}